/* index.css 파일 */
body, html {scroll-behavior: smooth;}
header {
    display: flex; 
    text-align: center; 
    justify-content: space-between;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    /* background-color: black; */
}
header nav{
    width: 100%;
    align-items: center;
    display: flex; justify-content: space-between;
    padding: 0 140px;
}
header nav > a{
    height: 36px;
    padding: 0 15px;
    line-height: 36px;
    border-radius: 20px;
    border: 1px solid #2f2f2f;
    /* border-radius: 15px; */
}
header nav .right{
    /* background-color: blue; */
    line-height: 36px;
}
header nav .right a {
   padding: 40px;
   color: #fff;
   font-family: 'suit', sans-serif;
}

#wrap {
    background-color: white;
    width: 1920px; height: max-content; height: 100vh;
}

/* ------------------------------------------------------ */
/* intro */
#wrap .swiper-wrapper {
}
#wrap .swiper-wrapper > .swiper-slide { /* 공통 상단 여백 */
    padding-top: 80px;
}
#wrap .swiper-wrapper #intro{
    background-image: url(../images/intro/intro_bg_txt.jpg);
}
/* #wrap #intro::after {} */

#wrap .swiper-wrapper #intro .center{
    position: relative;
}
/* 포트폴리오 btn */
#wrap #intro .btn {
    background-color: #c4c4c4;
    position: absolute;
    top: 720px; left: 860px;
    margin: 0 auto;
    width: 214px; height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 10px;
   
}
#wrap #intro .btn:hover {
    width: 214px; height: 46px;
    background-color: #020202;  
}
#wrap #intro .btn a {    
    display: block;
    /* background-color: yellow; */
    width: 214px; height: 46px;
    line-height: 46px;
}
#wrap #intro .btn a:hover{
    color: #fff;
}

/* 2. 가능기술소개 */
#wrap #profile1 {
    background: url(../images/bg/text_bg.jpg);
}
#wrap #profile1 .title {
    padding: 88px 140px;
    margin: 0 auto;
}
#wrap #profile1 .title h2{
    font-size: 2rem;
    font-family: 'caveat',serif;
    color: #A8B7DB;
    margin-bottom: 10px;
}
#wrap #profile1 .title > h3{
    font-size: 2.625rem;
    font-weight: 700;
    font-family: 'pretendard', sans-serif;
    color: #2f2f2f;
}
#wrap #profile1 .title h3 em {
    color: #6184D5;
    font-weight: 700;
}

/* ------- 기술소개 박스 */
#wrap #profile1 .title ul{
    padding-top: 129px;
    margin: 0 auto;
}
#wrap #profile1 .title .contents{
    display: flex; flex-flow: row nowrap;
    text-align: center;
    gap: 20px;
    
}
#wrap #profile1 .title .contents li {
    padding: 96px 30px;
    width: calc(100% / 4);
    height: 380px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.13);

}
#wrap #profile1 .title .contents .uiux{}
#wrap #profile1 .title .contents .web{}
#wrap #profile1 .title .contents .respon{}
    
#wrap #profile1 .title .contents .art{}
#wrap #profile1 .title .contents li img{}
#wrap #profile1 .title .contents li h3{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #6184D5;
}
#wrap #profile1 .title .contents li p{
    margin-bottom: 15px;
    line-height: 20px;
}

