/* 웹 프로젝트 css */

/* 탬버린즈 */
.web_project {
    width: 100%;
    height: 100vh;
}

.web_wrap {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
}


/* 왼쪽 */
.container.left {
    width: 40% ;
    height: 100%;
}


/* 오른쪽 */
.thumb {
    width: 60% ;
    height: 100%;
}


/* 이미지 */
.thumb_right,
.thumb_right img {
    width: 100%;
    height: 100%;
}

.thumb_right img {
    object-fit: cover;
}



/* 무림  */
/* 라코스테 */
/* 로얄캐닌 */